# First unguided project
This will hold my first solo data exploration that is unguided

I am using markdown here to notate what is going on

Now I gotta find a proper dataset to do a project

Maybe I should start with a topic instead

What do I wanna look into?

I want to do a projcet where I can use some machine learning techniques

I'm gonna go over the material to check out what each practice can do and what it is for

I wanna do a clustering project on unladeled data

I can revisit the old Time sheet stuff that David gave me

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("wittigs.csv")
df.head(3)

,fname,local_date,local_day,local_start_time,local_end_time,hours,jobcode_1,jobcode_2,notes
0,Abbott,7/1/2021,Thu,6:40 AM,12:35 PM,5.92,GENOA AWM,ADMIN,NaN
1,Abbott,7/1/2021,Thu,12:35 PM,1:37 PM,1.03,RECEIVING - SA,NaN,NaN
2,Abbott,7/1/2021,Thu,1:37 PM,5:06 PM,3.48,GENOA AWM,ADMIN,NaN

So this is me importing the data to bring in some sort of stuff to work with and be a data scientist about